<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Agenda</title>
    </head>
    <body>
        <div id="app">
            <input
                type="text"
                name="nombre"
                placeholder="nombre"
                v-model="nombre"
            />
            <input
                type="email"
                name="correo"
                placeholder="correo"
                v-model="correo"
            />
            <input
                type="text"
                name="telefono"
                placeholder="telefono"
                v-model="telefono"
            />
            <button v-on:click="agregarContacto">Agregar contacto</button>
            <hr />
            <dl>
                <div v-for="contacto in ordenarAgenda">
                    <dt>{{ contacto.nombre }}</dt>
                    <dd>correo: {{ contacto.correo }}</dd>
                    <dd>telefono: {{ contacto.telefono }}</dd>
                </div>
            </dl>
        </div>
    </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

<script>
    var app = new Vue({
        el: "#app",
        data: {
            nombre: "",
            correo: "",
            telefono: "",
            agenda: [
                {
                    nombre: "test",
                    correo: "test@test.com",
                    telefono: "+528715665969",
                },
                {
                    nombre: "a",
                    correo: "test@test.com",
                    telefono: "+528715665969",
                },
            ],
        },
        computed: {
            ordenarAgenda: function () {
                function compare(a, b) {
                    if (a.nombre < b.nombre) return -1;
                    if (a.nombre > b.nombre) return 1;
                    return 0;
                }

                return this.agenda.sort(compare);
            },
        },
        methods: {
            agregarContacto: function () {
                this.agenda.push({
                    nombre: this.nombre,
                    correo: this.correo,
                    telefono: this.telefono,
                });
            },
        },
    });
</script>
