<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Ahorcado</title>
    </head>
    <body>
        <div id="App">
            <button v-show="currentWord.length == 0 " v-on:click="start">
                <h1>Iniciar</h1>
            </button>
            <h1>{{status}}</h1>
            <img v-bind:src="src[oportunity]" width="300 px" v-show="currentWord.length != 0">            
            <div>
                <button disabled="true" v-for="char in currentWord" style="width: 50px;">    
                    <h1 v-if="accertChar.includes(char)">{{char}}</h1>            
                    <h1 v-else>_</h1>
                </button>
            </div>
            <div style="width: 500px;">
                <button v-for="letter in abc" style="width: 50px; margin: 10px; padding: 10px;" v-on:click="play(letter)" v-show="currentWord != ''">
                    {{ letter }}
                </button>
            </div>
            
            <button v-show="oportunity >3" v-on:click="start">
                <h1>Jugar de Nuevo</h1>
            </button>
        </div>
        
    </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
<script>
    var app = new Vue({
        el: "#App",
        data: {
            status:"",
            oportunity:0,
            currentWord:[],
            accertChar:[],
            abc: ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"],
            words:
            [
                "perro",
                "gato",
                "ajolote",
                "caiman",
                "panda",
                "jirafa",
                "leon"
            ],
            src:
            [
                "/img/0.png",
                "/img/1.png",
                "/img/2.png",
                "/img/3.png",
                "/img/4.png"
            ]
            
        },
        methods: {
            comprove(letter){
                if(this.currentWord.includes(letter)){
                    this.currentWord.forEach(element => {
                        if(element == letter){
                            this.accertChar.push(letter);                        
                        }
                    });
                    this.correct();
                    return true;
                }else{
                    this.incorrect();
                    return false;
                }

            },
            start(){
                this.selectWord();                
                this.status="";
                this.oportunity = 0;
                this.accertChar=[];
                this.abc = ["A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"];
            },
            selectWord(){
                var rnd = Math.floor(Math.random()*(this.words.length - 1 + 1));
                var word = this.words[rnd].toUpperCase();
                this.currentWord = word.split('');
            },
            play(val) {
                if(this.oportunity >3){                    
                    return;
                }
                else{
                    var index = this.abc.indexOf(val);
                    this.abc.splice(index,1);
                    this.comprove(val);              
                }
            },
            correct(){
                if(this.currentWord.length == this.accertChar.length){                        
                    this.status = "GANASTE!!!!!";
                    this.oportunity >= 4;     
                }
            },
            incorrect(){                
                this.oportunity++;
                if(this.oportunity >= 4){
                    this.status = "HAHAHAHA!!! PERDISTE!!!!";
                }
            },
        },
    });
</script>
