<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
</head>
<body>
<h4>
    Calculadora muy fea
</h4>
    <div id="app">
        <div>            
            <input type="number" v-model.number="a">
            <select v-model="operatorSelected" value="">      
                <Option v-for="operator in operators" :value="operator">{{operator}}</Option>   
            </select>
            <input type="number" v-model.number="b">
            <Button v-on:click="calcular">
                Calcular
            </Button>
        </div>
        <div v-show="result != null">
            <h2>
                resultado = {{result}}
            </h2>
        </div>
    </div>

    
</body>
</html>


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

<script>
var app = new Vue({
el: '#app',
data: {
    operators: [
        "+","-","/","*",
    ],
    a:0,
    b:0,
    result:null,
    operatorSelected:"+",
},
methods:{
    calcular: function (){
        if (this.a=="" || this.b=="")
        {
            this.a =0;
            this.b =0;
        }
        switch (this.operatorSelected) {
            case "+":      
            this.result = this.a +this.b;   
                break;
            case "-":      
            this.result = this.a -this.b;
                break;
            case "/":      
            this.result = this.a /this.b;
                break;
            case "*":      
            this.result = this.a *this.b;
                break;
        
            default:
                                
                break;
        }
    },
}
})
</script>